
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header{
    background-image: url("../images/Hero-bg.png");
    width: 1440px;
    height: 698px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.logo{
    font-weight: bold;
    font-size: 34px;
    color:  #4766FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
}
.banner{
    text-align: center;
    margin: 250px 267px 152px 267px;
}
.action-section{
    display: flex;
    justify-content: space-between;
}
.action-heading{
    margin-top: 178px;
    margin-left: 140px;
}
/* .action-image{
    flex: 1;
} */
.action-image img{
    width: 403px;
    height: 328px;
    margin-top: 116px;
    margin-right: 159px;
    border-radius: 48px;
}
.productive-section{
    background-color: #f5f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 306px;
    margin: 116px 141px 137px 141px;
}
.productive-heading{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
  .stats{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px; 
} 
/* .stat-number{
    font-size: 70px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

} */
 .stat-number {
    font-size: 0;
} 
.stat-number .digit{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stat-number .suffix{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stat-label{
    font-size: 20px;
    color: #000000;
} 