body{
    background-color: #f5f8ff;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.header{
    background-image: url("../images/Hero-bg.png");
    width: 1440px;
    height: 698px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.logo{
    font-weight: bold;
    font-size: 34px;
    color:  #4766FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 12px 36px;
    border-radius: 5px;
}
.banner{
    text-align: center;
    margin: 250px 267px 152px 267px;
}
.action-section{
    display: flex;
    justify-content: space-between;
}
.action-heading{
    margin-top: 178px;
    margin-left: 140px;
}
/* .action-image{
    flex: 1;
} */
.action-image img{
    width: 403px;
    height: 328px;
    margin-top: 116px;
    margin-right: 159px;
    border-radius: 48px;
}
.productive-section{
    background-color: #b1d4f1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1140px;
    height: 306px;
    margin: 116px 141px 137px 141px;
}
.productive-heading{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
  .stats{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px; 
} 

 .stat-number {
    font-size: 0;
} 
.stat-number .digit{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stat-number .suffix{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.stat-label{
    font-size: 20px;
    color: #000000;
}
 .reviews-section{
    width: 1140px;
    height: 342px;
    margin: 137px 150px 137px 150px;
    
    
}  
.section-heading{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-top: 137px;
}
.card-container{
    display:flex;
    justify-content: center;
    gap: 20px;
    
    
    
}
.review-card{
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 366px;
    padding: 24px;
    box-sizing: border-box;
    text-align: left;
    
    

}
.reviewer{
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap:10px

}
.reviewer img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.date{
    font-size: 12px;
    color: gray;
}


.stars{
    margin-bottom: 12px;
}
.start img{
    width: 16px;
    height: 16px;
    margin: 0 2px;
}
.review-card h3{
    font-size: 30;
}
.review-card p{
    font-size: 14px;
}

.touch-section{
    display: flex;
    padding: 137px 150px;
    gap: 115px;

}
.column{
    width:50%;


}
.column h1{
    font-size: 80px;
    font-weight: bold;
}
section input[type="email"] , section input[type="text"] , section textarea{
          height: 70px;
          border-radius: 10px;
          background-color: #FFFFFF;
          color: 000000;
          font-size: 20px;
          display: block;
          width: 100%;
          padding: 20px 32px;
          margin-bottom: 19px;
          border: none;
          
}
.touch-button{
     background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    padding: 19px 201px; 
    border-radius: 5px;
    width: 497px;
    height: 62px;
}

